<!DOCTYPE html>
<html lang = "en">
<head> 
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link rel = "stylesheet" href = "/static/style.css">
    <title>Minha Casa</title>
</head>
<body>
    <form action = "http://localhost:8080/validar_usuario" method = "post">
        <h1>Login</h1>
        <br>
        <input placeholder = "Insira seu email:" name = "usuario">
        <br>
        <input placeholder = "Insira sua senha:" type = "password" name = "password">
        <br>
        <br>
        <button type = "submit" value = "submit">Logar</button>
    </form>
</body>
</html>

