<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login - Sistema IoT</title>
</head>
<body>
    <form action="http://localhost:8080/validar_usuario" method="post" class="form-login">
        <h1>Login</h1>
        <input placeholder="Insira seu email:" name="usuario" type="email" required>
        <input placeholder="Insira sua senha:" type="password" name="password" required>
        <button type="submit">Logar</button>
    </form>
</body>
</html>
